/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 mark {
   background-color: yellow;
   padding: 5px;
   border-radius: 10px;
   border: 1px solid black;
 }

 .clear {
  margin-top: 75px;
 }

 .full-width {
   width: 100%;
 }

 .link-query {
   a {
     padding: 0px;
     border-radius: 0px;
   }

   a:link {
     color: #000000;
   }

   a:visited {
     color: #000000;
   }

   a:hover {
     color: #000000;
   }

   a:active {
     color: #000000;
   }
 }
