// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;

  h1 {
    text-align: center;
  }

  .submit {
    width: 100%;
  }
}