// Place all the styles related to the Queries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbo {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;

  h1 {
    text-align: center;
  }

  .submit {
    width: 100%;
  }
}

#search-panel {
  display: none;
  z-index: +1;
}

.result-count {
  margin-right: 10px;
}

.view-more {
  margin-left: 10px;
}

.results-map {
  height: 300px;
  width: 100%;
}

.avatar {
  width: 100%;
  height: (100% / 6);
}

.embedded-media {
  width: 100%;
}

.refresh {

}

// Printer-friendly view
@media print {
  #search-panel {
    display: none;
  }

  .refresh {
    display: none;
  }

  .one-panel {
    max-width: 97%;
  }

  .two-panel {
    max-width: 50%;
    a[href]:after {
      content: none !important;
      // use important only if you are not able to override it by normal styling
    }
  }

  .three-panel {
    max-width: 33.3%;
    a[href]:after {
      content: none !important;
      // use important only if you are not able to override it by normal styling
    }
  }
}
