<div class="row">
  <!-- Footer -->
  <footer class="col-xs-12" id="footer">
    <div class="container">
      <section class="links">
        <div class="row">
          <section class="3u 6u(medium) 12u$(small)">
            <h3>Odin's Eye</h3>
            <ul class="unstyled">
              <li><a href="#">About</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Team</a></li>
            </ul>
          </section>
          <section class="3u 6u$(medium) 12u$(small)">
            <h3>Customers</h3>
            <ul class="unstyled">
              <li><%= link_to "Sign in", "/auth/twitter" %></li>
              <li><a href="#">Manage billing</a></li>
              <li><a href="#">Reset password</a></li>
              <li><a href="#">Request accounts</a></li>
            </ul>
          </section>
          <section class="3u 6u(medium) 12u$(small)">
            <h3>Contact</h3>
            <ul class="unstyled">
              <li><a href="#">Address: </a></li>
              <li><a href="#">Email: </a></li>
              <li><a href="#">Telephone: </a></li>
            </ul>
          </section>
          <section class="3u$ 6u$(medium) 12u$(small)">
            <h3>Support</h3>
            <ul class="unstyled">
              <li><a href="#">Frequently Asked Questions (FAQ)</a></li>
              <li><a href="#">Submit Ticket</a></li>
              <li><a href="#">View ticket status</a></li>
            </ul>
          </section>
        </div>
      </section>
      <div class="row">
        <div class="8u 12u$(medium)">
          <ul class="copyright">
            <li>&copy; 2015-2016 Changed name to Odin's Eye. All rights reserved.</li>
          </ul>
        </div>
        <div class="4u$ 12u$(medium)">
          <!-- <ul class="icons">
            <li>
              <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li>
              <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
            </li>
            <li>
              <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
            </li>
            <li>
              <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </footer>
</div>
</div>

</body>
